.about-company__container {
  padding: 120px 0 120px 250px;

  @media (--not-small-vp) {
    background-image: url("../../img/year-l@1x.png");
    background-repeat: no-repeat;
    background-size: 146px 320px;
    background-position: left 4px top 120px;

    @media (--x2) {
      background-image: url("../../img/year-l@2x.png");
    }
  }

  @media (--middle-vp) {
    padding: 75px 0 79px 175px;
    background-position: left 0 top 80px;
  }

  @media (--small-vp) {
    padding: 46px 0 80px;
  }
}

.about-company h2 {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin-top: 0;
  margin-bottom: 12px;

  @media (--small-vp) {
    font-size: 28px;
    line-height: 140.62%;
    padding-top: 0;
  }
}

.about-company p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 20px;

  @media (--middle-vp) {
    margin-bottom: 18px;
  }

  @media (--small-vp) {
    font-size: 14px;
    line-height: 134.4%;
  }
}

.about-company__visible-text span {
  @media (--small-vp) {
    display: none;
  }
}

.about-company__button {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-accent);
  min-width: 180px;
  min-height: 45px;
  border: 1px solid var(--color-accent);
  border-radius: 3px;
  background-color: transparent;
  margin-top: 20px;

  @media (--middle-vp) {
    margin-top: 0;
  }

  @media (--small-vp) {
    min-width: 160px;
    min-height: 35px;
    margin-top: -6px;
  }

  &:focus {
    outline: 1px solid var(--color-base-dark);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 1px solid var(--color-base-dark);
    outline-offset: 2px;
  }

  &:hover {
    opacity: 80%;
    cursor: pointer;
  }

  &:active {
    opacity: 60%;
  }

  &::before {
    content: "Подробнее";
    display: block;
  }
}
