.accordion {
  display: flex;
  justify-content: space-between;

  @media (--small-vp) {
    flex-direction: column;

    &--opened button::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 1px;
      background-color: var(--color-bg-base);
    }
  }
}

.accordion em {
  display: block;
  color: var(--color-white);
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 23px;

  @media (--middle-vp) {
    margin-bottom: 21px;
  }

  @media (--small-vp) {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-right: 30px;
    width: 100%;


    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 15px;
      height: 1px;
      background-color: var(--color-bg-base);
      background-size: 15px 15px;
      right: 1px;
      top: 5px;
    }

    &::before {
      transform: rotate(90deg);
    }
  }
}

.accordion a,
.accordion p {
  color: var(--color-white);
  font-style: normal;
  font-size: 16px;
  line-height: 1.35;
  opacity: 70%;

  @media (--small-vp) {
    font-size: 14px;
  }
}

.accordion a {
  display: inline-block;
  width: fit-content;

  &:focus {
    outline: 1px solid var(--color-base-light);
    outline-offset: 3px;
    border-radius: 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
    border-radius: initial;
  }

  &:focus-visible {
    outline: 1px solid var(--color-base-light);
    outline-offset: 3px;
    border-radius: 1px;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 60%;
  }
}

.accordion__item {
  padding-top: 7px;

  @media (--middle-vp) {
    padding-top: 0;
  }

  @media (--small-vp) {
    position: relative;
    padding-left: 0;
    padding-top: 0;

    &:not(.accordion__item--show) .accordion__body {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: var(--color-bg-base);
      opacity: 70%;
    }

    &--show em {
      &::before {
        transform: rotate(0);
      }
    }
  }
}

.accordion__header:focus-within {
  @media (--small-vp) {
    outline: 1px solid var(--color-bg-base);
    outline-offset: -5px;
  }
}

.accordion__header {
  @media (--small-vp) {
    position: relative;
    padding: 22px 25px 12px;

    &:hover {
      opacity: 80%;
      cursor: pointer;
    }

    &:active {
      opacity: 60%;
    }
  }
}

.accordion__body p {
  margin: 0;

  @media (--small-vp) {
    padding-bottom: 11px;
  }
}

.accordion__body li {
  margin-bottom: 8px;
}

.accordion__body.page-footer__contacts-list li {
  margin-bottom: 11px;
}


.accordion__item ul {
  margin: 0;

  @media (--small-vp) {
    margin-top: -5px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.accordion__item .page-footer__nav-list--after {
  @media (--wide-vp) {
    margin-left: 15px;
  }
}

.accordion__header button {
  @media (--small-vp) {
    display: block;
  }
}
