.accordion {
  @media (--small-vp) {
    &--opened button::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 1px;
      background-color: var(--color-bg-base);
    }
  }
}

.accordion__item:not(.accordion__item--show) .accordion__body {
  @media (--small-vp) {
    display: none;
  }
}


.accordion__item button {
  @media (--small-vp) {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 18px;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;

    &:focus {
      outline: 1px solid var(--color-bg-base);
      outline-offset: 2px;
      border-radius: 1px;
    }

    &:focus:not(:focus-visible) {
      outline: none;
      outline-offset: revert;
      border-radius: initial;
    }

    &:focus-visible {
      outline: 1px solid var(--color-bg-base);
      outline-offset: 2px;
      border-radius: 1px;
    }

    &:hover {
      opacity: 80%;
      cursor: pointer;
    }

    &:active {
      opacity: 60%;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 1px;
      background-color: var(--color-bg-base);
    }

    &::before {
      transform: rotate(90deg);
    }
  }
}
