.advantages {
  padding-top: 120px;
  --hover-color-text: var(--color-base-dark);

  @media (--middle-vp) {
    padding-top: 80px;
  }

  @media (--small-vp) {
    padding-top: 50px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  color: var(--color-accent);
  margin: 0;

  @media (--small-vp) {
    grid-template-columns: 1fr;
  }
}

.advantages__list h3 {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-top: 20px;
  margin-bottom: 14px;

  @media (--middle-vp) {
    margin-top: 15px;
    margin-bottom: 9px;
  }

  @media (--small-vp) {
    font-size: 20px;
    line-height: 140%;
    margin-top: 16px;
    margin-bottom: 9px;
  }
}

.advantages__item p {
  color: var(--hover-color-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35;
  margin-top: 0;

  @media (--small-vp) {
    font-size: 14px;
    line-height: 135%;
  }
}

.advantages__item {
  position: relative;
  padding: 40px 45px 40px;
  outline: 1px solid var(--color-border);
  outline-offset: -1px;
  min-height: 300px;

  @media (--middle-vp) {
    min-height: 360px;
    padding-right: 40px;
    padding-bottom: 16px;

    &--detective h3 {
      margin-top: 13px;
      margin-bottom: 7px;
    }

    &--tag h3 {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }

  @media (--small-vp) {
    padding: 30px 30px 35px;
    min-height: 340px;

    &--detective,
    &--tag {
      min-height: 325px;
    }

    &--tag h3,
    &--detective h3 {
      margin-top: 19px;
      margin-bottom: 13px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 5px;
    height: 100%;
    background-color: var(--color-accent);
    top: 0;
    left: 0;
  }

  &::before {
    content: "";
    display: block;
    mask-repeat: no-repeat;
    mask-position: center;
    background: currentColor;
    width: 35px;
    height: 35px;

    @media (--small-vp) {
      width: 30px;
      height: 30px;
    }
  }

  &--watch::before {
    mask-image: url("../../icons/sprite.svg#watch");
  }

  &--suppliers::before {
    mask-image: url("../../icons/sprite.svg#suppliers");
  }

  &--detective::before {
    mask-image: url("../../icons/sprite.svg#detective");

    @media (--wide-vp) {
      margin-left: -5px;
    }
  }

  &--tag::before {
    mask-image: url("../../icons/sprite.svg#tag");
  }

  &:hover {
    background-color: var(--color-accent);
    outline: none;
    color: var(--color-base-light);
    --hover-color-text: var(--color-base-light);
  }
}
