.feedback {
  color: var(--color-white);
  padding-top: 170px;
  padding-bottom: 250px;
  background-color: var(--color-bg-feedback);

  &--index {
    @media (--wide-vp) {
      background-image: url("../../img/figure-l@1x.png");
      background-repeat: no-repeat;
      background-size: 50% 100%;
      background-position: left 0 top -72px;
    }


    @media (--middle-vp) {
      padding-top: 50px;
      padding-bottom: 125px;
    }

    @media (--small-vp) {
      padding-top: 50px;
      padding-bottom: 90px;
    }
  }
}

.feedback p {
  font-family: var(--accent-font);
  font-size: 36px;
  line-height: 51px;
  margin-top: 0;
  margin-bottom: 15px;

  &--index {
    @media (--middle-vp) {
      margin-bottom: 10px;
    }

    @media (--small-vp) {
      font-size: 30px;
      line-height: 140.62%;
      margin-bottom: 20px;
    }
  }
}

.feedback i {
  display: block;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 35px;

  &--index {
    @media (--middle-vp) {
      margin-bottom: 25px;
    }

    @media (--small-vp) {
      font-size: 14px;
      line-height: 134.4%;
      margin-bottom: 40px;
    }
  }
}

.feedback__container {
  width: 100%;

  @media (--wide-vp) {
    width: 50%;
    margin-left: auto;
  }
}

.feedback__wrapper {
  @media (--wide-vp) {
    width: 100%;
    background-image: url("../../img/paper-airplane-l@1x.png");
    background-repeat: no-repeat;
    background-size: calc(50% - 115px) auto;
    background-position: left 0 top 75px;
  }
}
