.feedback {
  color: var(--color-white);
  background-color: var(--color-bg-feedback);

  &--index {
    @media (--wide-vp) {
      padding-bottom: 249px;
      padding-top: 165px;
      background-image: url("../../img/figure-l@1x.png");
      background-repeat: no-repeat;
      background-size: 51% 109.7%;
      background-position: bottom -2px left 0;
    }


    @media (--middle-vp) {
      padding-top: 45px;
      padding-bottom: 123px;
    }

    @media (--small-vp) {
      padding-top: 47px;
      padding-bottom: 88px;
    }
  }
}

.feedback p {
  font-family: var(--accent-font);
  font-size: 36px;
  line-height: 51px;
  margin-top: 0;
}

.feedback--index p {
  @media (--wide-vp) {
    margin-left: -5px;
    margin-bottom: 12px;
  }

  @media (--not-wide-vp) {
    margin-bottom: 7px;
    margin-left: 0;
  }

  @media (--small-vp) {
    font-size: 30px;
    line-height: 140.62%;
  }
}

.feedback i {
  display: block;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 35px;
}

.feedback--index i {
  @media (--middle-vp) {
    margin-bottom: 25px;
  }

  @media (--small-vp) {
    font-size: 14px;
    line-height: 134.4%;
    margin-bottom: 33px;
  }
}

.feedback__container {
  width: 100%;

  @media (--wide-vp) {
    width: 50%;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 10px;
  }
}

.feedback__wrapper {
  @media (--wide-vp) {
    width: 100%;
    background-image: url("../../img/paper-airplane-l@1x.png");
    background-repeat: no-repeat;
    background-size: 38.6% auto;
    background-position: left 50px top 81px;
  }
}
