.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__list {
  display: grid;
  margin-top: 0;
  margin-bottom: 20px;

  &--index {
    @media (--not-small-vp) {
      gap: 30px;
      grid-template-columns: 1fr 1fr;
    }

    @media (--small-vp) {
      gap: 20px;
      grid-template-columns: 1fr;
    }
  }
}

.form__dispatch-set {
  &--index {
    @media (--not-small-vp) {
      display: grid;
      gap: 49px;
      grid-template-columns: 1fr 1fr;
    }

    @media (--middle-vp) {
      gap: 30px;
    }
  }
}

.form input,
.form textarea,
.form__button {
  &:focus {
    outline: 1px solid var(--color-white);
    outline-offset: 0;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 1px solid var(--color-white);
    outline-offset: 0;
  }

  &:hover {
    opacity: 80%;
    cursor: pointer;
  }

  &:active {
    opacity: 60%;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &--error[required] {
    outline: 2px solid var(--color-error);
    outline-offset: -2px;
  }
}

.form__item input,
.form textarea {
  &:not(:placeholder-shown) {
    outline: none;
  }
}

.form input,
.form textarea {
  font-family: var(--regular-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-base-dark);
  background-color: var(--color-bg-input);
  border-radius: 3px;
  border: none;
  width: 100%;
  padding: 15px;
}

.form input {
  height: 50px;
}

.form textarea {
  min-height: 155px;
  padding-top: 23px;
  resize: none;

  @media (--middle-vp) {
    padding-top: 28px;
  }

  @media (--small-vp) {
    min-height: 180px;
  }
}

.form input::placeholder,
.form textarea::placeholder {
  color: var(--color-white);
  opacity: 1;
  user-select: none;
}

.form__question {
  &--index {
    margin-bottom: 34px;

    @media (--middle-vp) {
      margin-bottom: 35px;
    }

    @media (--small-vp) {
      margin-bottom: 30px;
    }
  }
}

.form__checkbox-label span {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &:active {
    opacity: 60%;
  }
}

.form__button {
  font-size: 16px;
  line-height: 19px;
  color: var(--color-white);
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  background-color: var(--color-form-button);
  max-width: 100%;
  min-height: 45px;
  height: fit-content;
  padding: 5px 1em;

  @media (--middle-vp) {
    margin-right: 55px;
  }

  @media (--small-vp) {
    width: 100%;
    margin-bottom: 24px;
  }
}

.form__checkbox-label input {
  display: grid;
  position: relative;
  margin: 0;
  appearance: none;
  place-items: center;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  padding: 0;
  margin-right: 10px;

  &:focus {
    outline: 5px solid var(--color-bg-input);
    outline-offset: 0;
    background-color: var(--color-bg-input);
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
    background-color: revert;
  }

  &:focus-visible {
    outline: 5px solid var(--color-bg-input);
    outline-offset: 0;
    background-color: var(--color-bg-input);
  }


  &::before {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-white);
    border-radius: 2px;

    @media (--small-vp) {
      height: 14px;
      margin-top: -3px;
    }
  }

  &:checked::after {
    position: absolute;
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../icons/sprite.svg#checkbox");
    width: 11px;
    height: 11px;

    @media (--small-vp) {
      margin-top: -3px;
    }
  }
}

.form__checkbox-label {
  display: flex;
  align-items: center;
  margin-top: auto;
  width: 100%;
  user-select: none;

  @media (--middle-vp) {
    margin-top: 0;
  }

  @media (--small-vp) {
    margin-left: 5px;
  }
}
