.logo {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
  column-gap: 15px;
  user-select: none;
}

.logo svg {
  width: 55px;
  height: 55px;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.logo.page-header__logo-link svg {
  @media (--small-vp) {
    width: 35px;
    height: 35px;
  }
}

.logo b {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: var(--color-base-light);
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  padding-top: 4px;
}

.logo i {
  font-family: var(--medium-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-white);
  opacity: 70%;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  margin-top: -5px;
}
