.main-nav {
  padding-top: 7px;
  padding-left: 58px;

  @media (--small-vp) {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      left: -25px;
      bottom: 0;
      background-color: var(--color-bg-base);
      box-shadow: 50px 0 0 0 var(--color-bg-base);
      opacity: 70%;
    }
  }
}

.main-nav__list-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (--wide-vp) {
    grid-template-columns: 1fr 1fr;
  }
}

.main-nav__list {
  margin: 0;
}


.main-nav__list--after {
  @media (--wide-vp) {
    margin-left: 43px;
  }
}

.main-nav__item {
  margin-bottom: 8px;
}
