.page {
  height: 100%;
  font-family: var(--regular-font);
  color: var(--color-base-dark);
  scroll-behavior: smooth;
}

.page__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: var(--color-base-light);

  &--noscroll {
    position: fixed;
    height: 100vh;
    overflow: hidden;
    scrollbar-width: none;
    background:
      linear-gradient(
        var(--color-gradient-overlay),
        var(--color-gradient-overlay)
        );

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &--noscroll .screen {
    z-index: -1;
  }

  &--noscroll .page-header {
    background:
      linear-gradient(
        var(--color-gradient-overlay),
        var(--color-gradient-overlay)
        ),
      url("../../img/index-top-s@1x.jpg") no-repeat;
    background-size: cover;
    background-position: center;

    @media (--x2) {
      background:
        linear-gradient(
        var(--color-gradient-overlay),
        var(--color-gradient-overlay)
        ),
        url("../../img/index-top-s@2x.jpg") no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.page__visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__wrapper-center {
  @media (--wide-vp) {
    box-sizing: border-box;
    max-width: 1250px;
    padding: 0 45px;
    margin: 0 auto;
  }

  @media (--middle-vp) {
    margin: 0 45px;
  }

  @media (--small-vp) {
    margin: 0 15px;
  }
}
