.page {
  height: 100%;
  font-family: var(--regular-font);
  color: var(--color-base-dark);
  scroll-behavior: smooth;
}

.page ul {
  list-style-type: none;
  padding-left: 0;
}

.page__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: var(--color-bg-base);
}

.page__visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__wrapper-center {
  @media (--wide-vp) {
    box-sizing: border-box;
    max-width: 1220px;
    padding: 0 50px;
    margin: 0 auto;
  }

  @media (--middle-vp) {
    padding: 0 50px;
  }

  @media (--small-vp) {
    padding: 0 25px;
  }
}
