.page-footer {
  background-color: var(--color-base-dark);
  padding-top: 50px;
  padding-bottom: 55px;

  @media (--middle-vp) {
    padding-bottom: 65px;
  }

  @media (--small-vp) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.page-footer em {
  display: block;
  color: var(--color-white);
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media (--small-vp) {
    margin-bottom: 15px;
  }
}

.page-footer__contacts a,
.page-footer__contacts p,
.page-footer__nav a {
  color: var(--color-white);
  font-style: normal;
  font-size: 16px;
  line-height: 1.35;
  opacity: 70%;

  @media (--small-vp) {
    font-size: 14px;
  }
}

.page-footer__contacts a {
  line-height: 25px;
}

.page-footer__container {
  display: flex;
  justify-content: space-between;

  @media (--middle-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (--small-vp) {
    flex-direction: column;
  }
}

.page-footer__wrapper-block {
  display: flex;
  flex-direction: column;

  @media (--wide-vp) {
    min-width: 230px;
  }

  @media (--middle-vp) {
    grid-column: 1 / -1;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  @media (--small-vp) {
    position: relative;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      left: -25px;
      bottom: 0;
      background-color: var(--color-bg-base);
      box-shadow: 50px 0 0 0 var(--color-bg-base);
      opacity: 70%;
    }
  }
}

.page-footer__nav {
  @media (--wide-vp) {
    max-width: 470px;
  }
}

.page-footer__contacts {
  @media (--wide-vp) {
    max-width: 345px;
  }
}

.page-footer__logo-link {
  @media (--wide-vp) {
    margin-bottom: 35px;
  }

  @media (--small-vp) {
    margin-bottom: 20px;
  }
}

.page-footer__social {
  margin-top: 0;
  margin-left: 15px;

  @media (--small-vp) {
    margin-left: 25px;
    margin-bottom: 30px;
  }
}
