.page__footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 120px;
  padding-bottom: 120px;

  @media (--middle-vp) {
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (--small-vp) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding-top: 59px;
    padding-bottom: 61px;
  }
}

.page-footer__logo-link {
  @media (--small-vp) {
    margin-bottom: 13px;
  }
}

.page-footer__location {
  background-color: var(--color-bg-location);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  min-height: 306px;
  margin-bottom: auto;

  @media (--middle-vp) {
    min-height: 335px;
  }

  @media (--small-vp) {
    grid-row: -2 / -1;
    min-height: 316px;
  }
}

.page-footer__iframe {
  border: none;
  grid-row: 1 / -1;
  grid-column: 1 /-1;
  width: 100%;
  height: 306px;

  @media (--middle-vp) {
    height: 335px;
  }

  @media (--small-vp) {
    height: 316px;
  }
}

.page-footer__noscript {
  grid-row: 1 / -1;
  grid-column: 1 /-1;
}

.page-footer__contacts {
  margin-left: 60px;

  @media (--not-wide-vp) {
    margin-left: 0;
  }

  @media (--small-vp) {
    grid-row: 1 / 2;
  }
}

.page-footer__noscript img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 306px;

  @media (--middle-vp) {
    height: 335px;
  }

  @media (--small-vp) {
    height: 316px;
  }
}

.page-footer__container {
  background-color: var(--color-base-dark);
  padding: 35px 0 33px;

  @media (--middle-vp) {
    padding: 41px 0;
  }

  @media (--small-vp) {
    padding: 30px 0 19px;
  }
}

.page-footer__wrapper {
  display: flex;

  @media (--small-vp) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-footer__main-nav {
  margin-right: auto;
  margin-left: 40px;

  @media (--not-wide-vp) {
    font-size: 12px;
    line-height: 15px;
  }

  @media (--wide-vp) {
    padding-top: 20px;
    width: 68%;
  }

  @media (--middle-vp) {
    padding-top: 6px;
    margin-left: 25px;
    width: 67%;
  }

  @media (--small-vp) {
    margin: 0;
  }
}


.page-footer__social {
  margin-right: 0;

  @media (--wide-vp) {
    width: 188px;
    padding-top: 20px;
  }

  @media (--middle-vp) {
    padding-top: 6px;
    width: 156px;
  }

  @media (--small-vp) {
    margin-left: -4px;
  }
}
