.page-footer {
  background-color: var(--color-base-dark);
  padding-top: 50px;
  padding-bottom: 42px;

  @media (--middle-vp) {
    padding-bottom: 56px;
  }

  @media (--small-vp) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.page-footer .page__wrapper-center {
  @media (--small-vp) {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-footer__contacts a {
  line-height: 25px;
}

.page-footer__container {
  display: flex;
  justify-content: space-between;

  @media (--middle-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (--small-vp) {
    flex-direction: column;
  }
}

.page-footer__wrapper-block {
  display: flex;
  flex-direction: column;

  @media (--wide-vp) {
    min-width: 230px;
    max-width: 250px;
  }

  @media (--middle-vp) {
    grid-column: 1 / -1;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  @media (--small-vp) {
    position: relative;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: var(--color-bg-base);
      opacity: 70%;
    }
  }
}

.page-footer__accordion {
  grid-column: 1 / -1;
}

.page-footer__list-wrapper {
  display: grid;

  @media (--wide-vp) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--not-wide-vp) {
    grid-template-columns: 1fr;
  }

  @media (--small-vp) {
    padding-top: 3px;
  }
}

.page-footer__nav {
  margin-right: 30px;

  @media (--wide-vp) {
    max-width: 470px;
  }

  @media (--middle-vp) {
    padding-right: 90px;
  }

  @media (--small-vp) {
    margin-right: 0;
  }
}

.page-footer__contacts {
  @media (--wide-vp) {
    max-width: 345px;
  }

  @media (--middle-vp) {
    padding-left: 4px;
  }
}

.page-footer__logo-link {
  @media (--wide-vp) {
    margin-bottom: 35px;
  }

  @media (--middle-vp) {
    width: 50%;
  }

  @media (--small-vp) {
    margin-bottom: 20px;
    padding-right: 18px;
  }
}

.page-footer__social {
  margin-top: 0;
  margin-left: 15px;

  @media (--middle-vp) {
    margin-left: auto;
    padding-top: 10px;
  }

  @media (--small-vp) {
    margin-left: 28px;
    margin-bottom: 10px;
  }
}
