.social {
  display: flex;
  flex-wrap: wrap;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  &:focus {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  &::before {
    content: "";
    display: block;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--color-bg-base);
    width: 30px;
    height: 30px;
  }

  &--pinterest {
    background-color: var(--color-bg-base);

    &::before {
      mask-image: url("../../icons/sprite.svg#social-pinterest");
      background-color: var(--color-base-dark);
      width: 20px;
      height: 20px;
    }
  }

  &--ok::before {
    mask-image: url("../../icons/sprite.svg#social-ok");
  }

  &--wk::before {
    mask-image: url("../../icons/sprite.svg#social-wk");
  }
}

.social__item {
  margin-right: 25px;

  @media (--middle-vp) {
    margin-left: 25px;
    margin-right: 0;
  }
}
