:root {
  --color-white: #ffffff;
  --color-base-light: #f2f5f6;
  --color-base-dark: #041827;
  --color-accent: #00b2ff;
  --color-bg-base: #f8fdff;
  --color-bg-dark: #041827;
  --color-bg-image: #37648e;
  --color-bg-cards: #c4c4c4;
  --color-bg-feedback: #00b3ff;
  --color-bg-input: rgba(4, 20, 39, 0.15);
  --color-form-button: #041427;
  --color-border: #ebebeb;
  --color-gradient-header: rgba(4, 24, 39, 0);
  --color-gradient-cards: rgba(4, 24, 39, 0.5);
  --color-gradient-image-clear: rgba(25, 32, 36, 0.7);
  --color-gradient-image: rgba(25, 32, 36, 0);
}
