:root {
  --color-base-light: #f9fbfd;
  --color-base-dark: #011c40;
  --color-bg-image: #00316a;
  --color-bg-advantages: #d9e6f5;
  --color-bg-reservation: #bbdffb;
  --color-gradient-advantages: rgba(227, 236, 246, 0.9);
  --color-gradient-overlay: rgba(0, 43, 102, 0.5);
  --color-bg-location: #f1efe9;
  --color-error: #ff8282;
  --color-shadow-screen: rgba(0, 0, 0, 0.25);
  --color-shadow-form: rgba(1, 28, 64, 0.15);
  --color-scroll: rgba(0, 0, 0, 0);
}
