<footer class="page-footer">
  <div class="page__wrapper-center">
    <div class="page-footer__container">

      <div class="page-footer__wrapper-block">
        <a class="page-footer__logo-link logo">
          <svg role="img" width="55" height="55" aria-label="Логотип компании «Smart Device».">
            <use href="./img/logos.svg#logo"></use>
          </svg>
          <b>Smart Device</b>
          <i>умные технологии</i>
        </a>

        <ul class="page-footer__social social">
          <li class="social__item">
            <a class="social__link social__link--pinterest" href="#">
              <span class="page__visual-hidden">Пинтерест.</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--ok" href="#">
              <span class="page__visual-hidden">Однокласники.</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--wk" href="#">
              <span class="page__visual-hidden">В контакте.</span>
            </a>
          </li>
        </ul>
      </div>


      <div class="page-footer__accordion accordion">
        <nav class="page-footer__nav accordion__item">

          <div class="accordion__header">
            <em>Разделы сайта</em>
            <button class="page__visual-hidden" hidden>Показать или скрыть раздел.</button>
          </div>

          <div class="page-footer__list-wrapper accordion__body">

            <ul class="page-footer__nav-list page-footer__nav-list--first">
              <li>
                <a href="#about-company">О Компаниии</a>
              </li>
              <li>
                <a href="#">Продукты</a>
              </li>
              <li>
                <a href="#">Производство печатных плат</a>
              </li>
              <li>
                <a href="#">Монтаж печатных плат</a>
              </li>
            </ul>

            <ul class="page-footer__nav-list page-footer__nav-list--after">
              <li>
                <a href="#">Комплектующие</a>
              </li>
              <li>
                <a href="#">Доставка</a>
              </li>
              <li>
                <a href="#">Контакты</a>
              </li>
            </ul>

          </div>
        </nav>

        <address class="page-footer__contacts accordion__item">

          <div class="accordion__header">
            <em>Наш офис</em>
            <button class="page__visual-hidden" hidden>Показать или скрыть раздел.</button>
          </div>

          <ul class="page-footer__contacts-list accordion__body">
            <li>
              <p>г.&nbsp;Мытищи, Олимпийский проспект, д.10</p>
            </li>
            <li>
              <a href="tel:+74955894050">+7 (495) 589-40-50</a>
            </li>
            <li>
              <a href="tel:+79253895829">+7 (925) 389-58-29</a>
            </li>
            <li>
              <a href="tel:+79253647813">+7 (925) 364-78-13</a>
            </li>
          </ul>
        </address>

      </div>

    </div>
  </div>
</footer>
