<footer class="page-footer">
  <div class="page__wrapper-center">
    <div class="page-footer__container">

      <div class="page-footer__wrapper-block">
        <a class="page-footer__logo-link logo">
          <svg role="img" width="55" height="55" aria-label="Логотип компании «Smart Device».">
            <use href="./img/logos.svg#logo"></use>
          </svg>
          <b>Smart Device</b>
          <i>умные технологии</i>
        </a>

        <ul class="page-footer__social social">
          <li class="social__item">
            <a class="social__link social__link--pinterest" href="#">
              <span class="page__visual-hidden">Пинтерест.</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--ok" href="#">
              <span class="page__visual-hidden">Однокласники.</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--wk" href="#">
              <span class="page__visual-hidden">В контакте.</span>
            </a>
          </li>
        </ul>
      </div>

      <nav class="page-footer__nav main-nav accordion ">
        <em>Разделы сайта</em>

        <button class="main-nav__toggle" type="button" hidden>
          <span class="page__visual-hidden">Открыть или закрыть текст блока.</span>
        </button>

        <div class="main-nav__list-wrapper">

          <ul class="main-nav__list main-nav__list--first">
            <li class="main-nav__item">
              <a class="main-nav__link" href="#about-company">О Компаниии</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Продукты</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Производство печатных плат</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Монтаж печатных плат</a>
            </li>
          </ul>

          <ul class="main-nav__list  main-nav__list--after">
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Комплектующие</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Доставка</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Контакты</a>
            </li>
          </ul>

        </div>
      </nav>

      <address class="page-footer__contacts footer-contacts accordion">
        <em>Наш офис</em>

        <button class="footer-contacts__toggle" type="button" hidden>
          <span class="page__visual-hidden">Открыть или закрыть текст блока.</span>
        </button>

        <ul class="footer-contacts__list">
          <li class="footer-contacts__item">
            <p>г.&nbsp;Мытищи, Олимпийский проспект, д.10</p>
          </li>
          <li class="footer-contacts__item">
            <a class="footer-contacts__phone" href="tel:+74955894050">+7 (495) 589-40-50</a>
          </li>
          <li class="footer-contacts__item">
            <a class="footer-contacts__phone" href="tel:+79253895829">+7 (925) 389-58-29</a>
          </li>
          <li class="footer-contacts__item">
            <a class="footer-contacts__phone" href="tel:+79253647813">+7 (925) 364-78-13</a>
          </li>
        </ul>
      </address>

    </div>
  </div>
</footer>
