<header class="page-header">
  <div class="page__wrapper-center">
    <div class="page-header__wrapper-grid">

      <a class="page-header__logo-link">
        <svg role="img" width="70" height="70" aria-label="Логотип компании «Smart Device».">
          <use href="./img/logos.svg#logo"></use>
        </svg>
        <b>Smart Device</b>
        <i>умные технологии</i>
      </a>

      <address class="page-header__contacts">
        <a class="page-header__email" href="mailto:info@sd.ru">
          <span>info@sd.ru</span>
        </a>
        <a class="page-header__phone" href="tel:+74950005252">
          <span>+7 (495) 000 52 52</span>
        </a>
      </address>

      <button class="page-header__button button" type="button">Заказать звонок</button>

    </div>
  </div>
</header>
