<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Умное устройство, умные технологии, Smart Device, печатные платы, электронные комплектующие, компоненты, комплектующие для светотехники, монтаж печатныхплат, производство печатных плат">
  <title>Главная | Smart Device | Умное устройство</title>
  <link rel="icon" href="favicon.ico">
  <link rel="icon" href="favicons/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="favicons/180.png">
  <link rel="manifest" href="manifest.webmanifest">
  <link rel="preload" href="./fonts/ptmono-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="./fonts/roboto-medium.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="./fonts/roboto-condensed.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="./fonts/roboto-condensed-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.min.css">
</head>
